/* wwwroot/css/site.css */



body {
    padding-top: 56px;
}

/*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}*/

.profile-pic {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

body {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #fff; /* Set text color to white */
}

h1, h2, h3, h4, h5, h6, p {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  Add shadow to text 
}

.container, .jumbotron, .navbar {
    background-color: rgba(0, 0, 0, 0.7);  Semi-transparent background color 
    padding: 20px;  Optional: Add padding 
    border-radius: 10px;  Optional: Add rounded corners 
}

/*.footer {
    background-color: rgba(0, 0, 0, 0.7);
    Semi-transparent background color color: #ffffff;
}

    .footer .btn {
        margin: 0 3px;
    }

    .footer img {
        vertical-align: middle;
        margin-right: 3px;
    }
*/

/*.btn-custom {
    border: 1px solid black;*/ /* Dark outline */
    /*color: white;*/ /* Light text */
    /*background-color: white;*/ /* Transparent background */
/*}

    .btn-custom img {
        vertical-align: middle;*/ /* Ensures the icon is vertically aligned */
        /*margin-right: 5px;*/ /* Space between the icon and the text */
    /*}*/

